:root{
    --primary-color: rgba(12, 12, 12, 0.934);
    --secondary-color: #000000;
    --text-color: #fff;
    --darkmode-toggle: #fff;
    --primary-accent-color: #5fc44b;
    --secondary-accent-color: #303F9F;
    /*--tertiary-accent-color: #D32F2F;*/
}
/* General */
* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
  /* outline: 1px solid var(--text-color); */
}

.hidden{
  display: none;
}

html{
  height: 100%;
  width: 100%;
}

body{
  height: 100%;
  width: 100%;
  margin: 0;

}
body{
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);
  background: var(--secondary-color);
  line-height: 1.4;
  display: flex;

  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

p, h1, h2, h3, h4, h5, h6{
  margin: 0;
}

.shadow{
    box-shadow: rgba(0, 0, 0, 0.323) 0px 25px 20px -20px;
}

.main-title-box{
    background-color: var(--primary-color);

    border-radius: 2pc;
    padding: 1em 0;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title-text{
    font-size: 2rem;
    margin: 0;
    text-align: center;
    
}



/* Navigation bar */
.nav-container{
  background-color: var(--secondary-color);

  margin-top: 1em;
  margin-bottom: 1em;
  width: 90%;
  height: 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* From Uiverse.io by vinodjangid07 */ 
#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: .5s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: var(--text-color);
  border-radius: 4px;
}

#bar2 {
  transition-duration: .8s;
}

#bar1,#bar3 {
  width: 70%;
}

#checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: .5s;
}

#checkbox:checked + .toggle {
  transition-duration: .5s;
  transform: rotate(180deg);
}



.app-container{
    width: 80%;
    height: 93%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.item-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;

}

.item{
    background-color: var(--primary-color);

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin: 1em 0;
    padding: .5em .5em;


    border-radius: 7px;
    /* border-bottom: 1px solid gray; */
}

.item-title{
    font-size: 1rem;
}

.item-description{
  
  margin-top: 1em;
  
  font-size: 0.85rem;

}

/* Theme Buttons */ 
/* From Uiverse.io by zanina-yassine */ 

/* The switch - the box around the slider */
.theme-button-container {
  width: 51px;
  height: 31px;
  position: relative;
}

/* Hide default HTML style */
#theme-btn {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.switch {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #cfcfd1;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

/* The slider */
.slider {
  width: 27px;
  height: 27px;
  position: absolute;
  left: calc(50% - 27px/2 - 10px);
  top: calc(50% - 27px/2);
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.159), 0px 3px 1px rgba(0, 0, 0, 0.344);
  transition: all 0.2s ease-out;
  cursor: pointer;
}

#theme-btn:checked + .switch {
  background-color: #34C759;
}

#theme-btn:checked + .switch .slider {
  left: calc(50% - 27px/2 + 10px);
  top: calc(50% - 27px/2);
}
